{% extends '../base.html' %}

{% block css_link %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
			<div id="board" class="board-form">
				<table class="tbl-ex">
					<tr>
						<th colspan="2">글보기</th>
					</tr>
					<tr>
						<td class="label">제목</td>
						<td>{{ boardview.title }}</td>
					</tr>
					<tr>
						<td class="label">내용</td>
						<td>
							<div class="view-content">
								{{ boardview.content }}
							</div>
						</td>
					</tr>
				</table>
				<div class="bottom">
					<a href="/board/list">글목록</a>

					{% if request.session.authuser is not None %}
					<a href="/board/replyform?id={{ boardview.id }}">덧글쓰기</a>
					{% if request.session.authuser.name == boardview.user_id %}
					<a href="/board/modify?id={{ boardview.id }}">글수정</a>
					{% endif %}
					{% endif %}
				</div>
			</div>
{% endblock %}