{% extends '../base.html' %}

{% block css_link %}
<link href="/assets/css/guestbook.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
			<div id="user" class="delete-form">
				<form method="post" action="/user/delete">{% csrf_token %}
					<input type="hidden" name="a" value="delete">
					<input type='hidden' name="id" value="{{ user.id }}">
					<label>비밀번호</label>
					<input type="password" name="password">
					<input type="submit" value="확인">
				</form>
				<a href="/">메인 화면</a>
			</div>
{% endblock %}
